<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h2>Admin Dashboard</h2>
<a href="/logout">Logout</a>

<table border="1" cellpadding="5">
<tr>
    <th>Short Code</th>
    <th>Original URL</th>
    <th>Clicks</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for r in data %}
<tr>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
    <td>{{ "Active" if r[5] else "Disabled" }}</td>
    <td><a href="/toggle/{{ r[1] }}">Toggle</a></td>
</tr>
{% endfor %}

</table>

</body>
</html>
